<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="display-6">
      Super barrita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">


    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
    <!-- fin toolbar -->
  </ion-header>
  <!-- fin header -->

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-align-center py-3">Wena wena que volá</h1>
        <p>esta es una app random en la cual no habrán monas chinas</p>
        <p class="text-center">este es un parrafo fome sin nada, pero centrado</p>
        <p>Clonazepam y droga droga droga xdxdxd</p>

        <img class="w-100" src="https://via.placeholder.com/300" alt="">


      </div>
    </div>
  </div>

  <div class="seccion-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <p>texto uno</p>
        </div>
        <div class="col-lg-6 col-md-6">
          <p>texto uno</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>
